/* _content/PollingSystem.BlazorLib/Component1.razor.rz.scp.css */
.my-component[b-qox15b4tyo] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
